@page "/novacolecao"
@using MinhasColecoes.Shared.ViewModels
@using MinhasColecoes.Shared.InputModels
@using MinhasColecoes.Shared.InputModels.ErrorModel;
@inject ColecaoApiService colecaoService
@inject NavigationManager navManager

<div class="row">
	<div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-0">
		<h1>Cadastrar Coleção</h1>
		<ImageUploader @ref="uploader" Categoria="EnumCategoriasFotos.Colecao" />
		<ValidationError @ref="validationError" />
		<div class="form-floating mb-3">
			<input class="form-control" @bind="colecao.Nome" autofocus />
			<label>Nome: </label>
		</div>
		<div class="form-floating mb-3">
			<textarea class="form-control" @bind="colecao.Descricao" />
			<label>Descrição: </label>
		</div>
		<div class="form-check mb-3">
			<input class="form-check-input" type="checkbox" @bind="colecao.Publica">
			<label class="form-check-label" for="flexCheckChecked">
				Coleção Publica
			</label>
		</div>
		<div class="text-center">
			<button class="btn btn-lg btn-primary" @onclick="Confirmar">Confirmar</button>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-8 mb-3">
		<div class="row">
			<SearchAndCreateBar Mensagem="Nome da Coleção" OnClickBuscarCallback="BuscarColecoes" CadastroHabilitado="false" />
		</div>

		<div class="row">
			@if (colecao.IdColecaoMaior == null)
			{
				<h4 class="mb-3">Se esta coleção for uma subcoleção, selecione sua coleção maior.</h4>
			}
			else
			{
				<div class="col col-auto">
					<button class="btn btn-sm btn-danger" @onclick="e => DefinirColecaoMaior(null)">Cancelar</button>
				</div>
				<div class="col">
					<GenealogiaColecao IdColecaoMaior="colecao.IdColecaoMaior" OnClickCallback="DefinirColecaoMaior" />
				</div>
			}
		</div>

		<div class="row row-cols-2 row-cols-md-1 row-cols-lg-3 row-cols-xxl-4 g-3">
			@foreach (ColecaoBasicVM c in colecoes)
			{
				<CardColecao colecao="c" OnClickCallback="DefinirColecaoMaior" />
			}
		</div>
	</div>
</div>

@code {
	[Parameter]
	public string Nome { get; set; } = string.Empty;

	private ValidationError validationError;
	private ImageUploader uploader;
	private ColecaoIM colecao;

	private List<ColecaoBasicVM> colecoes = new List<ColecaoBasicVM>();
	private string nomeColecao = "";

	protected override async Task OnInitializedAsync()
	{
		colecao = new ColecaoIM() { Nome = Nome };
		await BuscarColecoes();
	}

	private async Task BuscarColecoes()
	{
		try
		{
			colecoes = await colecaoService.GetByName(nomeColecao, colecao.IdColecaoMaior);
		}
		catch (HttpResponseException ex)
		{
			HttpResponseMessage response = ex.Response;
		}
	}

	private async Task DefinirColecaoMaior(ColecaoBasicVM colecao)
	{
		this.colecao.IdColecaoMaior = (colecao == null)
			? null : colecao.Id;
		await BuscarColecoes();
	}

	private async Task Confirmar()
	{
		try
		{
			colecao.Foto = await uploader.UploadFile();
			int idColecao = (await colecaoService.Create(colecao)).Id;
			navManager.NavigateTo($"/colecao/{idColecao}");
		}
		catch (HttpResponseException ex)
		{
			HttpResponseMessage response = ex.Response;

			if (response.StatusCode == HttpStatusCode.BadRequest)
			{
				ResponseError<ColecaoEM> error = await response.Content.ReadFromJsonAsync<ResponseError<ColecaoEM>>();
				validationError.SetValidationErrors(error.Errors.GetErrors());
			}
			else
			{
				validationError.SetMessage(response.StatusCode.ToString());
			}
		}
		catch (Exception ex)
		{
			validationError.SetMessage(ex.Message);
		}
	}
}
