@page "/colecoes"
@using MinhasColecoes.Shared.ViewModels;

<div class="row">
	<div class="col-12 col-md-6 col-lg-5 col-xl-4 mb-2 mb-md-0">
		<div class="d-flex">
			<form method="GET" class="input-group mb-3">
				<button class="btn btn-primary" type="submit" id="button-busca">Buscar</button>
				<input type="text" class="form-control form-control-sm" placeholder="Nome da coleção" aria-label="Nome da coleção" aria-describedby="button-busca" name="nome">
				<button class="btn btn-outline-secondary btn-sm" type="submit" asp-area="" asp-controller="Colecao" asp-action="Cadastro">Cadastrar</button>
			</form>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-7 col-xl-8 mb-3 mb-md-0">
		<div class="d-flex flex-row-reverse justify-content-center justify-content-lg-start">
			<form class="d-inline-block">
				<select class="form-select form-select-sm">
					<option>25 por página</option>
					<option>50 por página</option>
					<option>100 por página</option>
					<option>200 por página</option>
				</select>
			</form>
			<nav class="d-inline-block me-3">
				<ul class="pagination pagination-sm">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<CardTableColecao colecoes="colecoes"/>

<div class="row mt-3">
	<div class="col-12 d-flex flex-row-reverse justify-content-center">
		<nav class="d-inline-block">
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">4</a></li>
				<li class="page-item"><a class="page-link" href="#">5</a></li>

				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

@code {
	private List<ColecaoBasicVM> colecoes;

	async Task LoadColecoes()
	{
		await Task.Delay(1500);
		colecoes = new List<ColecaoBasicVM>();
		colecoes.Add(new ColecaoBasicVM()
		{
			Id = 1,
			Nome = "Alfa",
			Descricao = "Colecao de teste Alfa",
			IdDono = 1,
			Publica = true,
			QuantidadeMembros = 5,
			QuantidadeSubcolecoes = 2,
			UsuarioParticipa = true,
			Foto = "_foto_padrao"
		});
		colecoes.Add(new ColecaoBasicVM()
		{
			Id = 2,
			Nome = "Beta",
			Descricao = "Colecao de teste Beta",
			IdDono = 1,
			Publica = false,
			QuantidadeMembros = 1,
			QuantidadeSubcolecoes = 5,
			UsuarioParticipa = true,
			Foto = "_foto_padrao"
		});
		colecoes.Add(new ColecaoBasicVM()
		{
			Id = 3,
			Nome = "Gama",
			Descricao = "Colecao de teste Gama",
			IdDono = 2,
			Publica = true,
			QuantidadeMembros = 3,
			QuantidadeSubcolecoes = 7,
			UsuarioParticipa = false,
			Foto = "_foto_padrao"
		});
		colecoes.Add(new ColecaoBasicVM()
		{
			Id = 4,
			Nome = "Delta",
			Descricao = "Colecao de teste Delta",
			IdDono = 2,
			Publica = true,
			QuantidadeMembros = 5,
			QuantidadeSubcolecoes = 9,
			UsuarioParticipa = true,
			Foto = "_foto_padrao"
		});
	}

	protected override async Task OnInitializedAsync()
	{
		base.OnInitializedAsync();
		await LoadColecoes();
	}

	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}
}
