@page "/colecao/{Id:int}"
@using MinhasColecoes.Shared.ViewModels;
@using System.Net;
@inject ColecaoAPI colecaoApi

<h3>Coleção @colecao.Nome</h3>
<p>@colecao.Descricao</p>
<SearchAndCreateColecao IdColecaoPrincipal="@Id" />

@code {
	[Parameter]
	public int Id { get; set; }

	private ColecaoVM colecao = new ColecaoVM();

	async Task LoadColecao()
	{
		HttpResponseMessage response = await colecaoApi.GetById(Id);

		if (response.IsSuccessStatusCode)
			colecao = await response.Content.ReadFromJsonAsync<ColecaoVM>();
	}

	protected override async Task OnParametersSetAsync()
	{
		colecao = new ColecaoVM();
		await LoadColecao();
	}
}
