@page "/colecao/{Id:int}"
@using MinhasColecoes.Shared.ViewModels;
@using System.Net;
@inject ColecaoApiService colecaoService
@inject NavigationManager navManager

<GenealogiaColecao IdColecaoMaior="colecao.IdColecaoMaior" OnClickCallback="NavegarPara" />

<h3>Coleção @colecao.Nome</h3>
<p>@colecao.Descricao</p>
<SearchAndCreateColecao IdColecaoPrincipal="@Id" />
<br />
<SearchAndCreateItem IdColecao="@Id" />

@code {
	[Parameter]
	public int Id { get; set; }

	private ColecaoVM colecao = new ColecaoVM();

	async Task LoadColecao()
	{
		try
		{
			colecao = await colecaoService.GetById(Id);
		}
		catch (Exception ex)
		{

		}
	}

	private async Task NavegarPara(ColecaoBasicVM colecao)
	{
		navManager.NavigateTo($"/colecao/{colecao.Id}");
	}

	protected override async Task OnParametersSetAsync()
	{
		colecao = new ColecaoVM();
		await LoadColecao();
	}
}
