@page "/perfil"
@using MinhasColecoes.Shared.ViewModels;

<h3>Usuario autenticado: @(usuario!= null)</h3>

@code {
	private UsuarioBasicVM usuario;

	protected override async Task OnInitializedAsync()
	{
		if(await clientHelper.CheckAuthentication())
			usuario = new UsuarioBasicVM();
	}

}
