@using MinhasColecoes.Shared.ViewModels;

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-3">
	@foreach (ColecaoBasicVM c in colecoes)
	{
		<CardColecao colecao="c" />
	}
</div>

@code {
	[Parameter]
	public List<ColecaoBasicVM> colecoes { get; set; }
}
