<select class="form-select form-select-sm" value="@(QuantidadeDeColunas)" @onchange="DefinirQuantidade">
	@for (int i = QuantidadeMaximaDeColunas; i > 0; i--)
	{
		<option value="@(i)">@i Colunas</option>
	}
</select>

@code {
	[Parameter]
	public int QuantidadeDeColunas { get; set; } = 1;

	[Parameter]
	public int QuantidadeMaximaDeColunas { get; set; } = 6;

	[Parameter]
	public EventCallback<int> OnChangeQuantidadeCallback { get; set; }

	[Parameter]
	public EventCallback<string> OnChangeDistribuicaoCallback { get; set; }

	private string[] breakpoints = { "xxl", "xl", "lg", "md", "sm", };

	protected override async Task OnInitializedAsync()
	{
		QuantidadeMaximaDeColunas = Math.Clamp(QuantidadeMaximaDeColunas, 1, 6);
		QuantidadeDeColunas = Math.Clamp(QuantidadeDeColunas, 1, QuantidadeMaximaDeColunas);
		await AjustarQuantidades(Math.Clamp(QuantidadeDeColunas, 1, QuantidadeMaximaDeColunas));
	}

	private async Task DefinirQuantidade(ChangeEventArgs e)
	{
		int quantidade;
		if (Int32.TryParse(e.Value.ToString(), out quantidade))
			await AjustarQuantidades(quantidade);
	}

	private async Task AjustarQuantidades(int quantidade)
	{
		QuantidadeDeColunas = quantidade;
		string distribuicao = "row-cols-1";
		for (int i = 0; i < QuantidadeDeColunas - 1; i++)
			distribuicao += $" row-cols-{breakpoints[i]}-{QuantidadeDeColunas - i}";
		await OnChangeDistribuicaoCallback.InvokeAsync(distribuicao);
		await OnChangeQuantidadeCallback.InvokeAsync(QuantidadeDeColunas);
	}
}
