@inherits LayoutComponentBase
<div class="d-flex flex-column wrapper">
	<header>
		<NavMenu/>
	</header>

	<div class="container flex-fill">
		<main role="main" class="pb-3">
			@Body
		</main>
	</div>

	<footer class="border-top text-muted">
		<div class="container">
			<div class="row py-3">
				&copy; 2022 - MinhasColecoes
			</div>
		</div>
	</footer>
</div>