<div class="container" style="max-width: 100%;">
	@if (!string.IsNullOrEmpty(Mensagem))
	{
		<div class="row mb-3">
			<div class="col" style="width: 100%;">
				<p>@Mensagem</p>
			</div>
		</div>
	}
	<div class="row">
		<div class="col">
			<div class="d-flex">
				<a class="btn @(!AlertaConfirmar ? "btn-danger" : "btn-primary")" @onclick="Cancelar">Cancelar</a>
			</div>
		</div>
		<div class="col">
			<div class="d-flex flex-row-reverse justify-content-start">
				<a class="btn @(AlertaConfirmar ? "btn-danger" : "btn-primary")" @onclick="Confirmar">Confirmar</a>
			</div>
		</div>
	</div>
</div>

@code {
	[CascadingParameter]
	BlazoredModalInstance ModalInstance { get; set; }

	[Parameter]
	public string Mensagem { get; set; }

	[Parameter]
	public bool AlertaConfirmar { get; set; } = false;

	private async Task Confirmar()
	{
		await ModalInstance.CloseAsync(ModalResult.Ok<bool>(true));
	}

	private async Task Cancelar()
	{
		await ModalInstance.CloseAsync(ModalResult.Cancel());
	}
}
