@using MinhasColecoes.Shared.ViewModels;
@inject ColecaoAPI colecaoApi

<div class="row">
	<div class="col-12 col-md-6 col-lg-5 col-xl-4 mb-2 mb-md-0">
		<SearchAndCreateBar Mensagem="@mensagemParametro" OnClickBuscarCallback="BuscarColecoes" OnClickCadastrarCallback="Cadastrar" />
	</div>
	<div class="col-12 col-md-6 col-lg-7 col-xl-8 mb-3 mb-md-0">
		<div class="d-flex flex-row-reverse justify-content-center justify-content-lg-start">
			<form class="d-inline-block">
				<select class="form-select form-select-sm" @bind="QuantidadePorPagina">
					<option value="25">25 por página</option>
					<option value="50">50 por página</option>
					<option value="100">100 por página</option>
					<option value="200">200 por página</option>
					<option value="300">300 por página</option>
				</select>
			</form>
			@if (totalPaginas > 1)
			{
				<nav class="d-inline-block me-3">
					<Paginacao TotalPaginas="totalPaginas" ParinaAtual="paginaAtual" />
				</nav>
			}
		</div>
	</div>
</div>

@if (colecoes == null)
{
	if (status == null)
	{
		<h3>Carregando...</h3>
	}
	else
	{
		@(status.ToString())
	}
}
else
{
	<div class="row row-cols-2 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6 g-3">
		@foreach (ColecaoBasicVM c in colecoes)
		{
			<CardColecao colecao="c" />
		}
	</div>
}

@if (totalPaginas > 1)
{
	<div class="row mt-3">
		<div class="col-12 d-flex flex-row-reverse justify-content-center">
			<nav class="d-inline-block">
				<Paginacao TotalPaginas="totalPaginas" ParinaAtual="paginaAtual" />
			</nav>
		</div>
	</div>
}

@code {
	[Parameter]
	public int? IdColecaoPrincipal { get; set; } = null;

	public int QuantidadePorPagina { get; set; } = 25;

	private List<ColecaoBasicVM> colecoes;
	private HttpStatusCode? status;
	private int totalPaginas = 0;
	private int paginaAtual = 0;
	private string mensagemParametro = "Nome da Coleção";
	private string nomeColecao = "";

	protected override async Task OnParametersSetAsync()
	{
		colecoes = null;
		await BuscarColecoes();
	}

	private async Task BuscarColecoes(string nome = "")
	{
		HttpResponseMessage response = await colecaoApi.GetByName(nome, IdColecaoPrincipal);

		status = response.StatusCode;
		if (response.IsSuccessStatusCode)
			colecoes = await response.Content.ReadFromJsonAsync<List<ColecaoBasicVM>>();
	}

	private async Task Cadastrar(string nome)
	{

	}
}