@using MinhasColecoes.Shared.ViewModels;
@inject ItemApiService itemService
@inject NavigationManager navManager

<div class="row mb-3">
	<div class="col-12 col-lg-6 col-xl-5 mb-2 mb-lg-0">
		<div class="row">
			<div class="col">
				<SearchAndCreateBar Mensagem="@mensagemParametro" OnClickBuscarCallback="BuscarItens" OnClickCadastrarCallback="Cadastrar" />
			</div>
			<div class="col-auto">
				<a class="btn btn-secondary" href="/colecao/@(IdColecao)/cadastrarmultiplositens">Cadastrar Vários</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-7">
		<div class="d-flex flex-row-reverse justify-content-center justify-content-lg-start">
			<form class="d-inline-block">
				<select class="form-select form-select-sm" @bind="QuantidadePorPagina">
					<option value="25">25 por página</option>
					<option value="50">50 por página</option>
					<option value="100">100 por página</option>
					<option value="200">200 por página</option>
					<option value="300">300 por página</option>
				</select>
			</form>
			@if (totalPaginas > 1)
			{
				<nav class="d-inline-block me-3">
					<Paginacao TotalPaginas="totalPaginas" PaginaAtual="paginaAtual" />
				</nav>
			}
		</div>
	</div>
</div>

@if (itens == null)
{
	if (status == null)
	{
		<h3>Carregando...</h3>
	}
	else
	{
		@(status.ToString())
	}
}
else
{
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-3">
		@foreach (ItemBasicVM i in itens)
		{
			<CardItem Item="i" OnSelectCallback="AtualizarRelacionamentoItem" Editavel="true" />
		}
	</div>
}

@if (totalPaginas > 1)
{
	<div class="row mt-3">
		<div class="col-12 d-flex flex-row-reverse justify-content-center">
			<nav class="d-inline-block">
				<Paginacao TotalPaginas="totalPaginas" PaginaAtual="paginaAtual" />
			</nav>
		</div>
	</div>
}

@code {
	[Parameter]
	public int IdColecao { get; set; }

	public int QuantidadePorPagina { get; set; } = 25;

	private List<ItemBasicVM> itens;
	private HttpStatusCode? status;
	private int totalPaginas = 0;
	private int paginaAtual = 0;
	private string mensagemParametro = "Nome do item";

	protected override async Task OnParametersSetAsync()
	{
		itens = null;
		await BuscarItens();
	}

	private async Task BuscarItens(string nome = "")
	{
		try
		{
			itens = await itemService.GetByNome(IdColecao, nome);
		}
		catch (HttpResponseException ex)
		{
			status = ex.Response.StatusCode;
		}
	}

	private async Task AtualizarRelacionamentoItem(ItemBasicVM item)
	{
		try
		{
			await itemService.AtualizarRelacionamento(item);
		}
		catch (HttpResponseException ex)
		{
			status = ex.Response.StatusCode;
		}
	}

	private async Task Cadastrar()
	{

	}

	private async Task NavegarPara(ColecaoBasicVM colecao)
	{

	}
}
